<% @title="Portfolio | Elise Barnes - Freelance Web Designer & Developer" %>

<div class="portfolio-image"></div>

<div class="portfolio-desc">
	<h1>RECENT PROJECTS</h1>
</div>

<div id="line"><span class="left color"></span></div>

<div id="p-desktop" class="portfolio-page">
<div class="home-portfolio portfolio-items">
	<div class="content scroll-show-portfolio content-portfolio">
		<div class="row">
			<div class="six columns">
				<div class="content-img">
					<%= image_tag "ppp-mockup.jpg", :class => "full-mockup" %>
				</div>
			</div>
			<div class="six columns">
				<div class="mockup-contain" id="ppp">
					<%= image_tag ("PPP-logo2.png") %>
				</div>
				<p>This Health & Fitness professional needed help getting her blog up and running. She wanted a soft, pretty and clean design that showed off her love for fitness, health, and animals. She also wanted an easy to use Content Management System where she could upload blog posts, images, and content. I created a beautiful online space where she can now grasp the attention of new readers and sell products through affiliate marketing, while also being able to effortlessly manage the site herself.</p>
				<div class="portfolio-btn-contain">
					<a href="https://petsandpush-ups.com/" target="_blank">
						<button>
							Visit Live Site
							<i class="fa fa-angle-right"></i>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="content scroll-show-portfolio content-portfolio greenwood-item">
		<div class="row">
			<div class="six columns">
				<div class="content-img">
					<%= image_tag "g-mockup2.jpg", :class => "full-mockup" %>
				</div>
			</div>
			<div class="six columns">
				<div class="mockup-contain">
					<%= image_tag ("greenwood-logo.png") %>
				</div>
				<p>This successful business owner wanted a powerful online home for her new boat rental/dinner cruise company. She needed something that would help "reel" in new customers, showcase their numerous services, allow customers to book tickets to their events online, and display their beautiful location on Greenwood Lake, NJ. I created a Search Engine Optimized website with a contemporary, nautical design that beautifully reflects the personalities of both the business and its entrepreneurial owner.</p>
				<div class="portfolio-btn-contain">
					<a href="https://greenwoodlakecruises.com/" target="_blank">
						<button>
							Visit Live Site
							<i class="fa fa-angle-right"></i>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="content scroll-show-portfolio content-portfolio">
		<div class="row">
			<div class="six columns">
				<div class="content-img">
					<%= image_tag "d-mockup.jpg", :class => "full-mockup" %>
				</div>
			</div>
			<div class="six columns">
				<div class="mockup-contain">
					<%= image_tag ("deli-logo.png") %>
				</div>
				<p>These busy food business owners needed help establishing an online presence that allowed their customers to view their menu and order food online. Showcasing their homemade dishes, family run atmosphere, and online delivery ordering with a unique, fun design was important to them. They also needed to incorporate large photos of the food and the store without slowing down the site. I worked to create a bold and colorful design with a clean, modern twist and a fast backend optimized for large photos.</p>
				<div class="portfolio-btn-contain">
					<a href="https://dandfdeli.com/" target="_blank">
						<button>
							Visit Live Site
							<i class="fa fa-angle-right"></i>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>