<% @title="Portfolio | Elise Barnes - Freelance Web Designer & Developer" %>

<div id="portfolio-page-container">

	<div class="portfolio-image"></div>

	<div class="portfolio-desc">
		<h1>RECENT PROJECTS</h1>
	</div>

	<div id="line"><span class="left color"></span></div>

	<div id="p-desktop" class="portfolio-page">
	<div class="home-portfolio portfolio-items">

		<div class="content content-portfolio">
			<div class="row">
				<div class="twelve columns port-item-info">
					<div class="mockup-contain">
						<a href="https://www.panopticla.com/" target="_blank">
							<%= image_tag ("Panoptic+Logo.png"), :class => "panoptic_logo" %>
						</a>
					</div>
					<p>Panoptic Development needed a clean, modern and effective website to showcase their Real Estate Investment Firm in Los Angeles. They came to me because they desired a developer that could seamlessly input custom CSS & JavaScript into their site while still having the ability to easily update content on their own in Squarespace. We worked together on a design that perfectly sums up what Panoptic Development is all about and they are proud to show it off to the Real Estate community.</p>

					<h3><em>“Elise does beautiful work! She was very communicative the entire time.”</em></h3>
					<div class="portfolio-btn-contain">
						<a href="https://www.panopticla.com/" target="_blank">
							<button>
								Visit Live Site
								<i class="fa fa-angle-right"></i>
							</button>
						</a>
					</div>
				</div>
				<div class="twelve columns">
					<div class="content-img">
						<a href="https://www.panopticla.com/" target="_blank">
							<%= image_tag "panoptic.png", :class => "full-mockup" %>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="content content-portfolio">
			<div class="row">
				<div class="twelve columns port-item-info">
					<div class="mockup-contain" id="mla-logo">
						<a href="https://mlacademy.io" target="_blank">
							<%= image_tag ("mla-logo.png") %>
						</a>
					</div>
					<p>This Machine Learning instructor needed a vibrant, new website that was easy for him to update, add new classes, events, video blogs, and send out newsletters. We worked together to create a website that he is now proud to show off to students, faculty, and the tech community. This was the second website that I built for Venkat (the first being <a href="https://cloudkarya.com" target="_blank">www.cloudkarya.com</a>), which he loved so much that he said his next website now “Needs the Elise touch!”. A snippet from his review:</p>

					<h3><em>“Great work! Goes above and beyond what she says she will do. Would definitely use her again.”</em></h3>
					<div class="portfolio-btn-contain">
						<a href="https://mlacademy.io" target="_blank">
							<button>
								Visit Live Site
								<i class="fa fa-angle-right"></i>
							</button>
						</a>
					</div>
				</div>
				<div class="twelve columns">
					<div class="content-img">
						<a href="https://mlacademy.io" target="_blank">
							<%= image_tag "mla.png", :class => "full-mockup" %>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="content scroll-show-portfolio content-portfolio greenwood-item">
			<div class="row">
				<div class="six columns">
					<div class="content-img">
						<a href="https://thegreenwoodlakeexperience.com" target="_blank">
							<%= image_tag "g-mockup2.jpg", :class => "full-mockup" %>
						</a>
					</div>
				</div>
				<div class="six columns">
					<div class="mockup-contain">
						<a href="https://thegreenwoodlakeexperience.com" target="_blank">
							<%= image_tag ("greenwood-logo.png") %>
						</a>
					</div>
					<p>This successful business owner wanted a powerful online home for her new boat rental/dinner cruise company. She needed something that would help "reel" in new customers, showcase their numerous services, allow customers to book tickets to their events online, and display their beautiful location on Greenwood Lake, NJ. I created a Search Engine Optimized website with a contemporary, nautical design that beautifully reflects the personalities of both the business and its entrepreneurial owner.</p>
					<div class="portfolio-btn-contain">
						<a href="https://thegreenwoodlakeexperience.com" target="_blank">
							<button>
								Visit Live Site
								<i class="fa fa-angle-right"></i>
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="content content-portfolio">
			<div class="row">
				<div class="twelve columns port-item-info">
					<div class="mockup-contain" id="mla-logo">
						<a href="https://www.dreamcatcherclub.com/" target="_blank">
							<%= image_tag ("dream-logo.png") %>
						</a>
					</div>
					<p>This Los Angeles based home remodeling company needed to revamp their current Squarespace website. They wanted a modern design with clean lines and a place to showcase their powerful imagery. They also wanted their website visitors to feel as though they were being told a story as they scrolled through the site. You’ll see this come to life on the homepage - where I integrated scrolling animations and revealing effects to make the page come to life and provide a fun, interactive experience for visitors.</p>
					<div class="portfolio-btn-contain">
						<a href="https://www.dreamcatcherclub.com/" target="_blank">
							<button>
								Visit Live Site
								<i class="fa fa-angle-right"></i>
							</button>
						</a>
					</div>
				</div>
				<div class="twelve columns">
					<div class="content-img">
						<a href="https://www.dreamcatcherclub.com/" target="_blank">
							<%= image_tag "dream.png", :class => "full-mockup" %>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="content content-portfolio">
			<div class="row">
				<div class="twelve columns port-item-info">
					<div class="mockup-contain" id="chilled-logo">
						<a href="https://www.chilledndistilled.com/" target="_blank">
							<%= image_tag ("chilled-logo.png") %>
						</a>
					</div>
					<p>Nicks Chilled & Distilled is a high-end liquor store located in Sandy Hook, CT, owned and operated by a Father & Son duo. Patrick came to me with a VERY specific vision for his site. He sent me PDF wireframes of what his dream website would look like. He was looking for a developer to bring his vision to life, after having a bad experience with a previous developer. I built his dream website in 2 weeks and he was beyond ecstatic with the results.

					<h3><em>“Elise - I’m SO HAPPY with this. THANK YOU for listening to our ideas and executing the site so well.”</em></h3>

					<p>I integrated custom code/features on the site to further personalize it. If you take a look at the site, some specific examples are:</p>

						<ul>
							<li>Hover over "store hours" at the bottom of the site. You will see a clock appear with a countdown to when the store will close depending on your current location (timezone)</li>
							<li>When you are looking at the storefront photo "Nicks Chilled & Distilled", you will see the neon "OPEN" sign flashing yellow</li>
							<li>The large peace sign wreath - you will see the lights twinkling</li>
							<li>The large refrigerator photo that says "craft - ipa - local" - you will see the colors transitioning</li>
							<li>When you scroll to the last section of the page, you will see "SEND US A MESSAGE" being typed out (as if someone is talking to you directly on the page)</li>
						</ul>

					</p>
					<div class="portfolio-btn-contain">
						<a href="https://www.chilledndistilled.com/" target="_blank">
							<button>
								Visit Live Site
								<i class="fa fa-angle-right"></i>
							</button>
						</a>
					</div>
				</div>
				<div class="twelve columns">
					<div class="content-img">
						<a href="https://www.chilledndistilled.com/" target="_blank">
							<%= image_tag "chilled.png", :class => "full-mockup" %>
						</a>
					</div>
				</div>
			</div>
		</div>

<!-- 		<div class="content scroll-show-portfolio content-portfolio" id="quin">
			<div class="row">
				<div class="six columns">
					<div class="content-img">
						<a href="https://quinnissentialstyle.com" target="_blank">
							<%= image_tag "quin-desktop.jpg", :class => "full-mockup" %>
						</a>
					</div>
				</div>
				<div class="six columns">
					<div class="mockup-contain" id="quin-logo">
						<a href="https://quinnissentialstyle.com" target="_blank">
							<%= image_tag ("qsm-logo.png") %>
						</a>
					</div>
					<p>This Washington DC based personal stylist needed a website for her brand new event/virtual styling business. She wanted an online space to showcase her services, generate new leads, and stand out from the competition. A clean, minimal, feminine design was what she was after. I created a unique, girly, rose gold themed website that beautifully reflects her own personal style - as well as shows off the styling services that she can provide clients with.</p>
					<div class="portfolio-btn-contain">
						<a href="https://quinnissentialstyle.com" target="_blank">
							<button>
								Visit Live Site
								<i class="fa fa-angle-right"></i>
							</button>
						</a>
					</div>
				</div>
			</div>
		</div> -->

	<!-- 	<div class="content scroll-show-portfolio content-portfolio">
			<div class="row">
				<div class="six columns">
					<div class="content-img">
						<%= image_tag "warroad-mockup.jpg", :class => "full-mockup" %>
					</div>
				</div>
				<div class="six columns">
					<div class="mockup-contain" id="warroad-logo">
						<%= image_tag ("warroad-logo.png") %>
					</div>
					<p>This Los Angeles recording artist management company came to me looking to update their current website design. They wanted a landing page that would show off all of their current recording artists, as well as music videos, headshots, social links and booking information. I created a clean, crisp and timeless design that attractively displays their current bands. The homepage features a custom built video slideshow that autoplays music videos on a loop.</p>
					<div class="portfolio-btn-contain">
						<a href="http://www.warroadmgmt.com/" target="_blank">
							<button>
								Visit Live Site
								<i class="fa fa-angle-right"></i>
							</button>
						</a>
					</div>
				</div>
			</div>
		</div> -->
		

		<div class="content scroll-show-portfolio content-portfolio">
			<div class="row">
				<div class="six columns">
					<div class="content-img">
						<a href="https://dandfdeli.com/" target="_blank">
							<%= image_tag "d-mockup.jpg", :class => "full-mockup" %>
						</a>
					</div>
				</div>
				<div class="six columns">
					<div class="mockup-contain">
						<a href="https://dandfdeli.com/" target="_blank">
							<%= image_tag ("deli-logo.png") %>
						</a>
					</div>
					<p>These busy food business owners needed help establishing an online presence that allowed their customers to view their menu and order food online. Showcasing their homemade dishes, family run atmosphere, and online delivery ordering with a unique, fun design was important to them. They also needed to incorporate large photos of the food and the store without slowing down the site. I worked to create a bold and colorful design with a clean, modern twist and a fast backend optimized for large photos.</p>
					<div class="portfolio-btn-contain">
						<a href="https://dandfdeli.com/" target="_blank">
							<button>
								Visit Live Site
								<i class="fa fa-angle-right"></i>
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	</div>

</div> <!-- end of portfolio-page-container -->