<% @title="Portfolio | Elise Barnes - Freelance Web Designer & Developer" %>

<div class="portfolio-image"></div>

<div class="portfolio-desc">
	<h1>RECENT PROJECTS</h1>
</div>

<div id="line"><span class="left color"></span></div>

<div id="p-desktop" class="portfolio-page">
<div class="home-portfolio portfolio-items">

	<div class="content scroll-show-portfolio content-portfolio greenwood-item">
		<div class="row">
			<div class="six columns">
				<div class="content-img">
					<%= image_tag "g-mockup2.jpg", :class => "full-mockup" %>
				</div>
			</div>
			<div class="six columns">
				<div class="mockup-contain">
					<%= image_tag ("greenwood-logo.png") %>
				</div>
				<p>This successful business owner wanted a powerful online home for her new boat rental/dinner cruise company. She needed something that would help "reel" in new customers, showcase their numerous services, allow customers to book tickets to their events online, and display their beautiful location on Greenwood Lake, NJ. I created a Search Engine Optimized website with a contemporary, nautical design that beautifully reflects the personalities of both the business and its entrepreneurial owner.</p>
				<div class="portfolio-btn-contain">
					<a href="https://thegreenwoodlakeexperience.com" target="_blank">
						<button>
							Visit Live Site
							<i class="fa fa-angle-right"></i>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="content scroll-show-portfolio content-portfolio">
		<div class="row">
			<div class="six columns">
				<div class="content-img" id="mla-logo">
					<%= image_tag "mla.png", :class => "full-mockup" %>
				</div>
			</div>
			<div class="six columns">
				<div class="mockup-contain">
					<%= image_tag ("mla-logo.png") %>
				</div>
				<p>This successful business owner wanted a powerful online home for her new boat rental/dinner cruise company. She needed something that would help "reel" in new customers, showcase their numerous services, allow customers to book tickets to their events online, and display their beautiful location on Greenwood Lake, NJ. I created a Search Engine Optimized website with a contemporary, nautical design that beautifully reflects the personalities of both the business and its entrepreneurial owner.</p>
				<div class="portfolio-btn-contain">
					<a href="https://mlacademy.io" target="_blank">
						<button>
							Visit Live Site
							<i class="fa fa-angle-right"></i>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

<!-- 
	<div class="content scroll-show-portfolio content-portfolio"> -->
		<div class="row">
			<div class="six columns">
				<div class="content-img">
					<a href="http://chilledndistilled.com" target="_blank"><%= image_tag "chilled.png", :class => "full-mockup" %></a>
				</div>
			</div>

			<div class="six columns">
				<div class="content-img">
					<a href="https://www.dreamcatcherclub.com/" target="_blank"><%= image_tag "dream.png", :class => "full-mockup" %></a>
				</div>
			</div>
		</div>
<!-- 	</div> -->

	<div class="content scroll-show-portfolio content-portfolio" id="quin">
		<div class="row">
			<div class="six columns">
				<div class="content-img">
					<%= image_tag "quin-desktop.jpg", :class => "full-mockup" %>
				</div>
			</div>
			<div class="six columns">
				<div class="mockup-contain" id="quin-logo">
					<%= image_tag ("qsm-logo.png") %>
				</div>
				<p>This Washington DC based personal stylist needed a website for her brand new event/virtual styling business. She wanted an online space to showcase her services, generate new leads, and stand out from the competition. A clean, minimal, feminine design was what she was after. I created a unique, girly, rose gold themed website that beautifully reflects her own personal style - as well as shows off the styling services that she can provide clients with.</p>
				<div class="portfolio-btn-contain">
					<a href="https://quinnissentialstyle.com" target="_blank">
						<button>
							Visit Live Site
							<i class="fa fa-angle-right"></i>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="content scroll-show-portfolio content-portfolio">
		<div class="row">
			<div class="six columns">
				<div class="content-img">
					<%= image_tag "warroad-mockup.jpg", :class => "full-mockup" %>
				</div>
			</div>
			<div class="six columns">
				<div class="mockup-contain" id="warroad-logo">
					<%= image_tag ("warroad-logo.png") %>
				</div>
				<p>This Los Angeles recording artist management company came to me looking to update their current website design. They wanted a landing page that would show off all of their current recording artists, as well as music videos, headshots, social links and booking information. I created a clean, crisp and timeless design that attractively displays their current bands. The homepage features a custom built video slideshow that autoplays music videos on a loop.</p>
				<div class="portfolio-btn-contain">
					<a href="http://www.warroadmgmt.com/" target="_blank">
						<button>
							Visit Live Site
							<i class="fa fa-angle-right"></i>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	

	<div class="content scroll-show-portfolio content-portfolio">
		<div class="row">
			<div class="six columns">
				<div class="content-img">
					<%= image_tag "d-mockup.jpg", :class => "full-mockup" %>
				</div>
			</div>
			<div class="six columns">
				<div class="mockup-contain">
					<%= image_tag ("deli-logo.png") %>
				</div>
				<p>These busy food business owners needed help establishing an online presence that allowed their customers to view their menu and order food online. Showcasing their homemade dishes, family run atmosphere, and online delivery ordering with a unique, fun design was important to them. They also needed to incorporate large photos of the food and the store without slowing down the site. I worked to create a bold and colorful design with a clean, modern twist and a fast backend optimized for large photos.</p>
				<div class="portfolio-btn-contain">
					<a href="https://dandfdeli.com/" target="_blank">
						<button>
							Visit Live Site
							<i class="fa fa-angle-right"></i>
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	
</div>
</div>