<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="description" content="Elise Barnes is a Full Stack Web Developer and Web Designer who specializes in Front End Web Development. She lives in New Jersey and is available for full time Web Development work.">
    <%= favicon_link_tag 'logo.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="nav">
  		<ul>
        <span>
          <%= link_to "EB", root_path %>
        </span>
  			<li><%= link_to "Home", root_path %></li>
  			<li><%= link_to "About Me", about_me_path %></li>
  			<li><%= link_to "Portfolio", portfolio_path %></li>
  			<li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Resume", asset_path("Resume Elise Barnes.pdf"), target: '_blank' %></li>
  		</ul>
  	</nav>

<div id="menu-button">
  <div class="hamburger">
    <div class="inner"></div>
  </div>
</div>
<nav class="mobile-nav">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About Me", about_me_path %></li>
    <li><%= link_to "Portfolio", portfolio_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Resume", asset_path("Resume Elise Barnes.pdf"), target: '_blank' %></li>
  </ul>
</nav>


<%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="one-third column">
            <div class="elise">
              © 2017 Elise Barnes
            </div>
          </div>

          <div class="one-third column">
            <div class="footer-nav">
              <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About Me", about_me_path %></li>
                <li><%= link_to "Portfolio", portfolio_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "Resume", asset_path("Resume Elise Barnes.pdf"), target: '_blank' %></li>
              </ul>
            </div>
          </div>

          <div class="one-third column">
            <div class="footer-social">
              <a href="https://www.facebook.com/thenaturalwaytowellness" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/thenaturalwaytowellness/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://twitter.com/naturalwaywell" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="mailto:barnese3@go.stockton.edu"><i class="fa fa-envelope-o"></i></a>
              <a href="https://www.linkedin.com/in/elise-barnes-180680b2/" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/barnese3" target="_blank"><i class="fa fa-github"></i></a>
            </div>
          </div>

        </div><!--  end of row -->
      </div><!--  end of container -->
    </footer>
  </body>
</html>

<script>
$('#menu-button').on('click', function() {
  $(document.body).toggleClass('menu-open');
  if ($(".mobile-nav").height() == 0) {
           $(".mobile-nav").animate(
               {height: "100vh"});
           }
        else if ($(".mobile-nav").height() === "100vh") {
           $(".mobile-nav").animate({height: "0%"});
           }
});
</script>