<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="description" content="Elise Barnes is a Freelance Web Developer and Freelance Web Designer who specializes in building Squarespace websites. She lives in New Jersey and is available for freelance Web Development and Freelance Web Design projects.">
    <%= favicon_link_tag 'logo.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>




<!-- <nav class="mobile-nav">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">Rentals</a></li>
    <li><a href="calendar.html">Events</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li id="contact-end"><a href="contact.html">Contact</a></li>
      <li><a href="tel:973-728-9100">T: (973) 728-9100</a></li>
      <a href="calendar.html" id="button-order">
        <button>
          Buy Tickets Online
        </button>
      </a>
  </ul>
</nav> -->









  	<nav class="nav">
  		<ul>
        <span><%= link_to "Websites By Elise", root_path %></span>
        <div><%= image_tag "new-logo-4.png"%></div>
  			<li><%= link_to "Home", root_path %></li>
  			<li><%= link_to "About", about_path %></li>
  			<li><%= link_to "Portfolio", portfolio_path %></li>
  			<li><%= link_to "Contact", contact_path %></li>
        <li id="last-nav-item"><a href="services-and-prices"><button>SERVICES & PRICES</button></a></li>
  		</ul>
  	</nav>

<!-- <div id="menu-button">
  <div class="hamburger">
    <div class="inner"></div>
  </div>
</div> -->






  <div id="mobile-menu-button">
    <div class="hamburger">
      <div class="inner"></div>
    </div>
  </div>



<nav class="mobile-nav">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Portfolio", portfolio_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li id="last-nav-item-mobile"><a href="services-and-prices"><button>SERVICES & PRICES</button></a></li>
  </ul>
</nav>


<%= yield %>

    <footer>
      <div class="container">
        <div class="row">

          <div class="three columns">
            <div class="elise">
              © 2017 Elise Barnes
            </div>
          </div>

          <div class="six columns">
            <div class="footer-nav">
              <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Portfolio", portfolio_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li id="last-footer-item"><%= link_to "Services & Prices", services_and_prices_path %></li>
              </ul>
            </div>
          </div>

          <div class="three columns">
            <div class="footer-social">
              <a href="https://www.facebook.com/websitesbyelise" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/websitesbyelise/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://twitter.com/elise_barnes_" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="mailto:elise@websitesbyelise.com"><i class="fa fa-envelope-o"></i></a>
              <a href="https://www.linkedin.com/in/elise-barnes-180680b2/" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/barnese3" target="_blank"><i class="fa fa-github"></i></a>
            </div>
          </div>

        </div><!--  end of row -->
      </div><!--  end of container -->
    </footer>
  </body>
</html>

<script>
// $('#menu-button').on('click', function() {
//   $(document.body).toggleClass('menu-open');
//   if ($(".mobile-nav").height() == 0) {
//            $(".mobile-nav").animate(
//                {height: "100vh"});
//            }
//         else if ($(".mobile-nav").height() === "100vh") {
//            $(".mobile-nav").animate({height: "0%"});
//            }
// });

// Responsive mobile navigation menu
// open menu when you click on the hamburger lines
$(document).ready(function() {
  $('#mobile-menu-button').on('click', function() {
    $(document.body).toggleClass('menu-open');
  });
});

// close menu when you click on a menu item link (a)
$(document).ready(function() {
  $('.mobile-nav ul li a').on('click', function() {
      if ($(document.body).hasClass('menu-open')) {
        $(document.body).removeClass('menu-open');
      }
  });
});

$(document).ready(function() {
  $('.mobile-nav ul #button-order').on('click', function() {
      if ($(document.body).hasClass('menu-open')) {
        $(document.body).removeClass('menu-open');
      }
  });
});

// close menu when you click somewhere else in the document
$(document).click(function(){
  if ($(document.body).hasClass('menu-open')) {
    $(document.body).removeClass('menu-open');
  }
});

$(".mobile-nav").click(function(e){
  e.stopPropagation();
});

$(".mobile-nav ul li").click(function(e){
  e.stopPropagation();
});

$(".mobile-nav ul").click(function(e){
  e.stopPropagation();
});

$('#mobile-menu-button').click(function(e){
  e.stopPropagation();
});
</script>














